# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [2]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
df = pd.read_csv(url, sep='\t')

In [3]:
df.head(3)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39

In [4]:
df.shape

(4622, 5)

### Step 4. How many products cost more than $10.00?

In [5]:
prices = [float(price[1:-1]) for price in df['item_price']]  # skip 1st character ($)

df.item_price = prices
df.head(1)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,2.39

In [6]:
# we want to find how many product, so must ensure that each column is only product

# check duplicate, cannot ignore choice_description
clean_df = df.drop_duplicates(['item_name','quantity', 'choice_description'])
clean_df.shape

(1949, 5)

In [7]:
# Because count how many product, so we trust consider to the product which quantity == 1
unique_product = clean_df.loc[clean_df['quantity'] == 1]
unique_product.shape

(1806, 5)

In [28]:
unique_product.loc[unique_product['item_price'] > 10.00].nunique()

order_id              567
quantity                1
item_name              25
choice_description    416
item_price              8
dtype: int64

### Step 5. What is the price of each item? 

##### print a data frame with only two columns item_name and item_price

In [13]:
# delete the duplicates in item_name and quantity
clean_df = df.drop_duplicates(['item_name', 'quantity'])

# select only the products with quantity equals to 1
step5_df = clean_df.loc[clean_df['quantity'] == 1]

# select only the item_name and item_price columns
step5_df[['item_name', 'item_price']].head(3)

                      item_name  item_price
0  Chips and Fresh Tomato Salsa        2.39
1                          Izze        3.39
2              Nantucket Nectar        3.39

In [14]:
step5_df.shape

(50, 5)

### Step 6. Sort by the name of the item

In [12]:
df.sort_values(by=['item_name'])

,order_id,quantity,item_name,choice_description,item_price
3389,1360,2,6 Pack Soft Drink,[Diet Coke],12.98
341,148,1,6 Pack Soft Drink,[Diet Coke],6.49
1849,749,1,6 Pack Soft Drink,[Coke],6.49
1860,754,1,6 Pack Soft Drink,[Diet Coke],6.49
2713,1076,1,6 Pack Soft Drink,[Coke],6.49
...,...,...,...,...,...
2384,948,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa, [Fajita Vegetables,...",8.75
781,322,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Black Beans, Cheese, Sou...",8.75
2851,1132,1,Veggie Soft Tacos,"[Roasted Chili Corn Salsa (Medium), [Black Bea...",8.49
1699,688,1,Veggie Soft Tacos,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",11.25
1395,567,1,Veggie Soft Tacos,"[Fresh Tomato Salsa (Mild), [Pinto Beans, Rice...",8.49

### Step 7. What was the quantity of the most expensive item ordered?

In [19]:
step7_df = df.sort_values(by=['item_price'], ascending=False)
step7_df.head(1)

,order_id,quantity,item_name,choice_description,item_price
3598,1443,15,Chips and Fresh Tomato Salsa,NaN,44.25

### Step 8. How many times was a Veggie Salad Bowl ordered?

In [23]:
print(df.value_counts(df['item_name'] == 'Veggie Salad Bowl'))

# or

df[df['item_name'] == 'Veggie Salad Bowl'].shape[0]

item_name
False    4604
True       18
Name: count, dtype: int64

18

### Step 9. How many times did someone order more than one Canned Soda?